<script>
  const ctx4 = document.getElementById('dobong');
  
    const labels4 = [
      {% for cd in dobong_datas %}
      '{{ cd.restaurant }}',
      {% endfor %}
    ]
  
    const pop_data4 = [
      {% for cd in dobong_datas %}
      {{ cd.name_count }},
      {% endfor %}
  
    ]
  
    const data4 = {
      labels: labels4,
      datasets: [{
        label: '도봉구',
        data: pop_data4,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(255, 205, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(201, 203, 207, 0.2)'
        ],
        borderColor: [
          'rgb(255, 99, 132)',
          'rgb(255, 159, 64)',
          'rgb(255, 205, 86)',
          'rgb(75, 192, 192)',
          'rgb(54, 162, 235)',
          'rgb(153, 102, 255)',
          'rgb(201, 203, 207)'
        ],
        borderWidth: 1
      }]
    };
  
    const config4 = {
      type: 'bar',
      data: data4,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      },
    };
  
    new Chart(ctx4, config4)
</script>