<script>
  const ctx5 = document.getElementById('gwangjin');
  
    const labels5 = [
      {% for cd in gwangjin_datas %}
      '{{ cd.restaurant }}',
      {% endfor %}
    ]
  
    const pop_data5 = [
      {% for cd in gwangjin_datas %}
      {{ cd.name_count }},
      {% endfor %}
  
    ]
  
    const data5 = {
      labels: labels5,
      datasets: [{
        label: '광진구',
        data: pop_data5,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(255, 205, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(201, 203, 207, 0.2)'
        ],
        borderColor: [
          'rgb(255, 99, 132)',
          'rgb(255, 159, 64)',
          'rgb(255, 205, 86)',
          'rgb(75, 192, 192)',
          'rgb(54, 162, 235)',
          'rgb(153, 102, 255)',
          'rgb(201, 203, 207)'
        ],
        borderWidth: 1
      }]
    };
  
    const config5 = {
      type: 'bar',
      data: data5,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        },
        responsive: true,
        responsiveAnimarionDuration: 2,
        maintainAspectRatio: false,
      },
    };
  
    new Chart(ctx5, config5)
</script>