<script>
  const ctx2 = document.getElementById('yangcheon');
  
    const labels2 = [
      {% for cd in yangcheon_datas %}
      '{{ cd.restaurant }}',
      {% endfor %}
    ]
  
    const pop_data2 = [
      {% for cd in yangcheon_datas %}
      {{ cd.name_count }},
      {% endfor %}
  
    ]
  
    const data2 = {
      labels: labels2,
      datasets: [{
        label: '양천구',
        data: pop_data2,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(255, 205, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(201, 203, 207, 0.2)'
        ],
        borderColor: [
          'rgb(255, 99, 132)',
          'rgb(255, 159, 64)',
          'rgb(255, 205, 86)',
          'rgb(75, 192, 192)',
          'rgb(54, 162, 235)',
          'rgb(153, 102, 255)',
          'rgb(201, 203, 207)'
        ],
        borderWidth: 1
      }]
    };
  
    const config2 = {
      type: 'bar',
      data: data2,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      },
    };
  
    new Chart(ctx2, config2)
</script>