{% extends 'base.html'%}
{% load static %}

{% block head_title %}소개 {% endblock %}

{% block main_area %}
<section class="border border-dark p-3" style="border-radius: 25px;">

  <div style="text-align: center;">

    <a href="#"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=http%3A%2F%2F127.0.0.1%3A8000%2Fabout_me%2F&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false"/></a>
    
    </div>
    <h3 align="center">SEUNG WON</h3>
    
    <div>
    <p align="center"><img src="https://img.shields.io/badge/html5-E34F26?style=flat-square&logo=html5&logoColor=white">
    <img src="https://img.shields.io/badge/css-1572B6?style=flat-square&logo=css3&logoColor=white">
    <img src="https://img.shields.io/badge/JavaScript-F7DF1E?style=flat-square&logo=JavaScript&logoColor=white">
    <img src="https://img.shields.io/badge/bootstrap-7952B3?style=flat-square&logo=bootstrap&logoColor=white"></p>
    </div>
    <br>
    <br>
    <div>
    <p align="center"><img src="https://img.shields.io/badge/Python-3776AB?style=flat-square&logo=Python&logoColor=white">
    <img src="https://img.shields.io/badge/django-092E20?style=flat-square&logo=django&logoColor=white"></p>
    </div>
    
    
  
</section>

<section>
  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-8">
        
        <h1>안녕하세요. 강승원입니다.</h1>
        <br/>
        <p class="lead">
          백엔드를 공부하고 있습니다. <br/>
          
        </p>
        <ul>
          <!-- <li>WORK EXPERIENCE</li>
          <ul>
            <li>크고 좋은회사 - 빅데이터 분석</li>
            <li>모모공공기관</li> -->
          </ul>
          <li>EDUCATION</li>
          <ul>
            <li><span style="font-size: 20px;">하이미디어 아카데미</span> - 백엔드, 빅데이터 과정 (2023.02 ~ 2023.08)</li>
            <li><span style="font-size: 20px;">하이미디어 아카데미</span> - 웹퍼블리셔 과정 (2021.06 ~ 2021.12)</li>
            
            <!-- <li>공학박사, 장고공학, 파이썬대학교</li> -->
          </ul> <hr>
          <li>Contact Me!</li>
          <ul>
            <!-- <li>DO IT DJANGO, 이지스퍼블리싱</li> -->
            <li class="mb-2 mt-1"><button style="background: black; border: none; border-radius: 10px;" ><a class="text-white" href="https://github.com/seoungwonseoungwon" target="_blank" style="text-decoration: none;"><i class="bi bi-github"></i> github</a></button></li>
            <!-- <li><button style="background: black; border: none; text-decoration: none;" ><a class="text-white" href="https://github.com/seoungwonseoungwon" target="_blank"><i class="bi bi-instagram"  ></i> Instagram</a></button></li> -->
          </ul>
        </ul>
      </div>
      <div class="col-lg-4">
        <img class="img-fluid" src="{% static 'single_pages/images/강승원.jpg'%}" alt="">
      </div>
    </div>
  </div>
</section>



<section class="bg-light margin-for-footer" style="height: 300px;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>PORTFOLIO</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card" data-toggle="modal" data-target="#pycon2017">
          <img class="card-img-top" src="" alt="">
          <div class="card-body">
            <h5 class="card-title">toy project</h5>
            <p>JavaScript를 활용하여 두더지게임 기능 추가하기</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" data-toggle="modal" data-target="#inflearn_django2">
          <img class="card-img-top" src="" alt="">
          <div class="card-body">
            <h5 class="card-title">파이썬 사용자를 위한 웹개발 입문 </h5>
            <p>파이썬 웹개발에 대한 인프런 동영상강의입니다.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" data-toggle="modal" data-target="#automation_python">
          <img class="card-img-top" src="" alt="">
          <div class="card-body">
            <h5 class="card-title">직장인을 위한 프로그래밍 입문과 업무자동화 활용</h5>
            <p>파이썬 업무자동화에 대한 인프런 동영상 강의입니다.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="pycon2017" tabindex="-1" role="dialog" aria-labelledby="pycon2017ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document"></div>
</div>
<div class="modal fade" id="inflearn_django2" tabindex="-1" role="dialog" aria-labelledby="inflearnDjangoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document"></div>
</div>
<div class="modal fade" id="automation_python" tabindex="-1" role="dialog" aria-labelledby="automationPythonModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document"></div>
</div>


{% endblock %}
  
