{% extends 'base.html' %}
{% load static %}


{% block head_title %}Blog Home {% endblock %} 

{% block style %}
  <link rel="stylesheet" href="{% static 'single_pages/css/landing.css' %}" media="screen">
{% endblock %}




{% include 'navbar.html' %}



{% block main_area %}

<section>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-12 text-light">
        <h1 class="mt-5">강승원</h1>
        <p> </p>
      </div>
      <div class="col-lg-12 mt-5">
        <h2 class="text-light">Blog - Recent posts</h2>
        {% for post in recent_posts %}
          <div class="card mt-1">
            <div class="card-body">
              <h6><a href="{{ post.get_absolute_url }}" class="text-decoration-none text-dark">{{ post.title }}</a></h6>
              <span class="badge badge-pill badge-light float-right">
                {{ post.author.username }}
                &nbsp;
                &nbsp;
                {{ post.created_at }}
              </span>
            </div>
          </div>
        {% endfor %}
    </div>
    </div>
  </div>
</section>





{% include 'footer.html'%}


{% endblock %}

