{% extends 'base.html' %}
{% load static %}
{% block head_title %}대시보드 {% endblock %}


{% block main_area %}
<body>
  
</body>

<h1 style="margin-top: 60px; margin-bottom: 50px;"> 대시보드</h1>

<h2 style="margin-bottom: 80px;">자치구 식당별 방문횟수 순위</h2>

{% for cd in cd%}
{{ cd.price }}
{% endfor %}

<!-- <div class="d-flex mt-4"> -->
<div class="d-flex mt-4">
  <ul class="nav nav-tabs flex-column me-4 flex-shrink-1 ulmg" id="myTab" role="tablist" aria-orientation="vertical">
    <li class="nav-item chartB my-3" role="presentation">
      <button class="nav-link active" id="ys-tab" data-bs-toggle="tab" data-bs-target="#tab-ys-pane" type="button" role="tab" aria-controls="v-tab-ys" aria-selected="true">용산구</button>
    </li>
    <li class="nav-item chartB my-3" role="presentation">
      <button class="nav-link" id="jr-tab" data-bs-toggle="tab" data-bs-target="#tab-jr-pane" type="button" role="tab" aria-controls="v-tab-jr" aria-selected="false" >양천구</button>
    </li>
    <li class="nav-item chartB my-3" role="presentation">
      <button class="nav-link" id="ydp-tab" data-bs-toggle="tab" data-bs-target="#tab-ydp-pane" type="button" role="tab" aria-controls="v-tab-ydp" aria-selected="false">영등포구</button>
    </li>
    <li class="nav-item chartB my-3" role="presentation">
      <button class="nav-link" id="j-tab" data-bs-toggle="tab" data-bs-target="#tab-j-pane" type="button" role="tab" aria-controls="v-tab-j" aria-selected="false">도봉구</button>
    </li>
    <li class="nav-item chartB my-3" role="presentation">
      <button class="nav-link" id="j-tab" data-bs-toggle="tab" data-bs-target="#tab-g-pane" type="button" role="tab" aria-controls="v-tab-j" aria-selected="false">광진구</button>
    </li>
  </ul>
  <div class="w-100">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="tab-ys-pane" role="tabpanel" aria-labelledby="ys-tab" tabindex="0">
        <div class="view-bubble">
          <div class="my-1" style="height: 400px;"style="position: relative; height:40vh; width:80vw">
            <canvas id="yongsan"></canvas>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-jr-pane" role="tabpanel" aria-labelledby="jr-tab" tabindex="0">
        <div class="view-bubble">
            <div class="my-1" style="height: 400px;">
              <canvas id="yangcheon"></canvas>
            </div>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-ydp-pane" role="tabpanel" aria-labelledby="ydp-tab" tabindex="0">
        <div class="view-bubble">
            <div class="my-1" style="height: 400px;">
              <canvas id="yeongdeungpo"></canvas>
            </div>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-j-pane" role="tabpanel" aria-labelledby="j-tab" tabindex="0">
        <div class="view-bubble">
            <div class="my-1" style="height: 400px;">
              <canvas id="dobong"></canvas>
            </div>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-g-pane" role="tabpanel" aria-labelledby="j-tab" tabindex="0">
        <div class="view-bubble">
            <div class="my-1" style="height: 400px;">
              <canvas id="gwangjin"></canvas>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div>
  <div style="width: 600px; height: 200px;">
    <canvas id="yongsan"></canvas>
  </div>
  <div style="width: 600px; height: 200px;">
    <canvas id="yangcheon"></canvas>
  </div>
  <div style="width: 600px; height: 200px;">
    <canvas id="yeongdeungpo"></canvas>
  </div>
  <div style="width: 600px; height: 200px;">
    <canvas id="dobong"></canvas>
  </div>
  <div style="width: 600px; height: 200px;">
    <canvas id="gwangjin"></canvas>
  </div>
</div> -->


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% include 'dashboard/seoul/yongsan.html' %}
{% include 'dashboard/seoul/yangcheon.html' %}
{% include 'dashboard/seoul/yeongdeungpo.html' %}
{% include 'dashboard/seoul/dobong.html' %}
{% include 'dashboard/seoul/gwangjin.html' %}
<script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


<!-- <script defer src="../../static/dashboard/js/main.js"></script> -->

{% endblock %}
