<footer class="py-3 bg-dark fixed-bottom ">
  <div class="container d-flex text-center justify-content-center">
    <p class="mx-2 text-center text-white "><a href=""></a><i class="bi bi-youtube"></i></p></a>
    <p class="mx-2 "><a href="https://github.com/seoungwonseoungwon" class="text-white" target="_blank"><i class="bi bi-github"></i></a></p>
    <p class="mx-2 "><a href="" class="text-white"><i class="bi bi-instagram"></i></a></p>
    <p class="mx-2 "><a href="" class="text-white"><i class="bi bi-twitter"></i></a></p>
  </div>
</footer>



<!-- <footer>
<div class="container my-5">

  <footer class="text-center text-lg-start" style="background-color: #db6930;">
    <div class="container d-flex justify-content-center py-5">
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
        <i class="fab fa-facebook-f"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
        <i class="fab fa-youtube"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
        <i class="fab fa-instagram"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
        <i class="fab fa-twitter"></i>
      </button>
    </div>


    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
  </footer>
  
</div>
</footer> -->